@inject GeolocationService GeolocationService

<nav class="bottom-nav">
    <ul class="nav-list">
        <li>
            <button @onclick="Home"> Home </button>
        </li>
        <li>
            <button @onclick="Visualizer"> Visualization </button>
        </li>
    </ul>
</nav>

@code {
    private void Home()
    {
        NavigationManager.NavigateTo("/");
    }

    private void FarmInfo()
    {
        NavigationManager.NavigateTo("/");
    }

    private async Task Visualizer()
    {
        var location = await GeolocationService.GetLocationAsync();
        TimeSpan duration = DateTime.Now - DateTime.Now.AddDays(-7);

        NavigationManager.NavigateTo("/visualizer");
        var dateRange = $"{DateTime.Now.ToString("yyyy-MM-ddTHH:mm:ss")}ZP{duration.Days}D";

        NavigationManager.NavigateTo($"/visualizer/{dateRange}/{location.Latitude}/{location.Longitude}");
    }

    private void Recommendations()
    {
        NavigationManager.NavigateTo("/recommendations");
    }

    [Inject] NavigationManager NavigationManager { get; set; }
}