@page "/visualizer/{daterange}/{latitude:double}/{longitude:double}"
@inject IJSRuntime JS
@inject SmartFarming.Services.MeteomaticsApiService MeteomaticsApiService
@inject NavigationManager Navigator

<div>
    <h4>Meteomatics Space Data Analysis</h4>
    <button class="form-button" @onclick="ShowRecommendedActions">Recommended Actions</button>

    @if (string.IsNullOrEmpty(weatherData))
    {
        <p>Loading visualization from Mateometics...</p>
    }
    else
    {
        <iframe src="@iframeSrc" class="responsive-iframe" frameborder="0" allowfullscreen></iframe>
    }
</div>

@code {
    [Parameter] public string daterange { get; set; }
    [Parameter] public double latitude { get; set; } = 63.096;  // NY's Latitude
    [Parameter] public double longitude { get; set; } = 21.615; // NY's Longitude

    private string weatherData;
    string apiEndpoint;
    private string iframeSrc;

    protected override async Task OnInitializedAsync()
    {
    https://api.meteomatics.com/{startdate}--{enddate}/weather_variable/{lat},{lon}/json

        apiEndpoint = $"https://api.meteomatics.com/{daterange}/volumetric_soil_water_-5cm:m3m3,volumetric_soil_water_-15cm:m3m3,volumetric_soil_water_-50cm:m3m3,volumetric_soil_water_-150cm:m3m3/{latitude},{longitude}/html?source=mix";
        // Call the Meteomatics API
        //https://api.meteomatics.com/{datetime}/t_2m:C/{lat},{lon}/json
        weatherData = await MeteomaticsApiService.GetWeatherDataAsync();
        iframeSrc = $"data:text/html;charset=utf-8,{Uri.EscapeDataString(weatherData)}";
    }

    private void ShowRecommendedActions()
    {
        Navigator.NavigateTo($"/recommendations");
    }
}
